{% extends 'CIResults/base.html' %}

{% block title %}Machine List{% endblock %}

{% block content %}
    <form class="form-inline search_bar text-center" method='get'>
        <label for="formSearchQuery">Machine name filter</label>
        <input type="text" class="form-control mb-2 mr-sm-2" id="formSearchQuery" placeholder="Query" name='q' value='{{search_query}}'>
        <button type="submit" class="btn btn-primary mb-2">Search</button>
    </form>

    <div class="panel panel-default panel-info">
        <div class="panel-heading">
            Machine list ({% if page_obj is not None %}{{ page_obj.paginator.count }}{% else %}{{object_list|length}}{% endif %})
        </div>
        <div class="panel-body panel-collapse collapse in">
            <div class="container-fluid">
                <table class="table table-striped table-hover table-bordered table-sm sortable filtrable">
                    <thead>
                        <tr>
                            <th>Machine name</th>
                            <th>Aliases</th>
                            <th>Added on</th>
                            <th>Vetted on</th>
                            <th>Tags</th>
                            <th>Description</th>
                            <th class="sorttable_nosort">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for machine in object_list %}
                        <tr>
                            <td>{% include "CIResults/basic/machine.html" with machine=machine %}</td>
                            <td>{% if machine.aliases %}{% include "CIResults/basic/machine.html" with machine=machine.aliases %}{% else %}None{% endif %}</td>
                            <td data-sorttable-customkey="{{machine.added_on|date:'U'}}">{{machine.added_on}}</td>
                            <td data-sorttable-customkey="{{machine.vetted_on|date:'U'}}">{{machine.vetted_on}}</td>
                            <td data-sorttable-customkey="{{machine.vetted_on|date:'U'}}">{{machine.tags.all|join:", "}}</td>
                            <td data-sorttable-customkey="{{machine.vetted_on|date:'U'}}">{{machine.description}}</td>
                            <td>
                                {% if perms.CIResults.change_machine %}
                                    <a href="{% url 'CIResults-machine-edit' machine.id %}" class="btn btn-primary">Edit</a>
                                {% endif %}
                                <a href="{% url 'CIResults-machine-detail' machine.id %}" class="btn btn-default">History</a>
                                {% if machine.vetted_on != None and perms.CIResults.suppress_machine %}
                                <a href="{% url 'CIResults-machine-suppress' machine.id %}" class="btn btn-warning">Suppress</a>
                                {% elif machine.vetted_on == None and perms.CIResults.vet_machine %}
                                <a href="{% url 'CIResults-machine-vet' machine.id %}" class="btn btn-warning">Vet</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% empty %}
                        <tr><td colspan='7' class='text-center'>No machines yet</td></tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% if search_query|length == 0 %}{% include "CIResults/basic/paginator.html" %}{% endif %}
            </div>
        </div>
    </div>
{% endblock %}
